#top {
    /*position: fixed;*/
    min-height: 5px;
    /*background-color: #d50000;*/
    /*width: 100%;*/
    display: none;
}
#logophone{
	/*left: 80px;*/
	min-height: 10px;
	background-color: red;
	display:block;
}
#picdiv {
    background-image: url("/images/MCollege-1.jpg");
    min-height: 100px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #037487ff;
}
#logo {
    right: 50px;
}